*{


    margin: 10px;
    margin-top: 50px;
    
    
    
}

body{

    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTZjMDliOTUydXhxejNpa280bDdqYnZ1M3lsampnbXViMGxxbWlsZDh6bHlhOWpydSZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/l46Cy3HCwSxCBdhKM/source.gif);
}

/* content */

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}



.sticker {
  width: 400px;   
  height: auto;
}


.head{

    font-size: 6rem;
    margin-top: 1rem;

}

.text{

    font-size: 4rem;
    margin-top: 1rem;
}


.click{

    font-size: 2rem;
}

a{

    text-decoration: none;
}



