:root{


    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelop-color: #f5edd1;
    --envelop-tab: #ecdeb8;
    --envelop-cover: #e6cfa7;
    --shadow-color: black;
    --text-color: #444;
    --heart-color: rgb(252,8,231);


 

}

body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;


}

/* envelop */

.container{

    height: 100vh;
    display: grid;
    place-items: center;

}

.container > .envelop-wrapper{

    background: var(--bg-envelop-color);
    box-shadow: 0 0 40px var(--shadow-color);

}


.container > .envelop-wrapper > .envelope {

    position: relative;
    width: 300px;
    height: 230px;
    


}

.container > .envelop-wrapper > .envelope::before {


    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid var(--envelop-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5 ease-in-out;

}


.container > .envelop-wrapper > .envelope::after {

    content:'';
    position: absolute;
    z-index: 2;
    border-top: 130 solid transparent;
    border-right: 150 solid var(--envelop-cover);
    border-left: 150 solid var(--envelop-cover);
    border-bottom: 100 solid var(--envelop-cover);
    bottom: 0;
}


.letter{

    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    transition: all 1s ease-in-out;
    padding: 20x 10px;
    box-shadow: 0 0 10px var(--shadow-color)


}

.letter > .text {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: var(--text-color);
    text-align: left;

}

.heart{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5 ease-in-out 1s;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;


    

}

.heart ::before,
.heart::after{


    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    border-radius: 50%;
    
}

.heart ::before{

    top: -7.5px;
}

.heart::after{

    right: 7.5px;
}

.flap > .envelope::before{

    z-index: 0;
    transform: rotateX(180deg);
}

.flap > .envelop .letter{


    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
    
}

.flap > .hear{

    transform: rotate(90deg);
    transition-delay: 0.4s;
}